body {
  margin: 0;
  padding: 0;
  background: rgb(165, 163, 163);
  font-family: "Poppins", sans-serif;
}
h2 {
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

.box {
  background: rgb(255, 255, 255);
  width: 50rem;
  padding: 3rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: 40% 60%;
}

.header-left {
  display: grid;
  font-size: 20px;
}
.header-right {
  width: 100%;
  display: grid;
  justify-items: end;
}

.header-right p {
  display: inline-block;
}

.grey {
  background: rgb(29, 73, 168);
  color: rgb(255, 255, 255);
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.icon {
  color: rgb(150, 146, 146);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

table {
  border: 2px solid #000;
  margin: 1rem 0 1rem 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000;
  padding: 0.4rem;
}
